@import '../../mixins.scss';

.reviews {
    padding-bottom: 175px;

    &__desc-holder {
        margin-bottom: 60px;
        text-align: center;
    }

    .review {
        padding: 30px;
        margin-bottom: 70px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        min-height: 245px; 
        max-width: 400px;

        @include breakpoint ('xl') {
            max-width: 500px;
        }

        @include breakpoint ('md') {
            max-width: 100%;
        }

        &.active {
            border: 2px solid var(--red);
        }

        &__customer {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__customer-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        &__customer-desc {
            display: flex;
            flex-direction: column;
        }

        &__customer-name {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.6;
            color: var(--black);
        }

        &__customer-country {
            font-size: 14px;
            line-height: 2;
            color: var(--grey);
        }

        &__customer-star {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__text-holder {
            line-height: 1.9;
        }
    }

    

}

.slider-container {

    .arrows-holder {
         display: flex;
    gap: 20px;
    }
   

    .slider-btn-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .slider-btn {
        display: flex;
        align-items: center;


    &__arrow {
        width: 60px;
        height: 60px;
        border: 2px solid var(--red);
        border-radius: 50%;
        transition: ease-in-out 0.3s;
        
        &:hover {
            background-color: var(--red);
            color: white;
        }
    
        
    }
    
    &__arrow-left,
    &__arrow-right {
        display: inline-block;
        margin: 20px;
        width: 15px;
        height: 15px;
        border-top: 2px solid var(--red);
        border-left: 2px solid var(--red);
        transform-origin: center;
    
        &::after {
            content: "";
            display: block;                    
            width: 2px;
            height: 20px;
            background-color: var(--red);
            transform: rotate(-45deg) translate(6px, 2px);
            
        }     
        
        &:hover {        
            border-top: 2px solid var(--white);
            border-left: 2px solid var(--white);
    
            &::after {
            background-color: var(--white);
            }
        }
    }
    
    &__arrow-right {
        transform: rotate(135deg);        
    }
    
    &__arrow-left {
        transform: rotate(-45deg);       
    
    }
    }
    
}

.dots-holder {
    display: flex;
    gap: 20px;
}

.custom-dot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #DDE0E4;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease-in-out (0.3s);
}

.custom-dot.slick-active {
    width: 45px;
    background-color: var(--red);
}






