@import '../../mixins.scss';

.hero-section {
    padding-bottom: 175px;

    @include breakpoint ('sm') {
        padding-bottom: 220px;
    }

    &__text-holder {
        width: 555px;

        @include breakpoint ('lg') {
            text-align: center;
        }

        @include breakpoint ('md') {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 500;
        line-height: 1.4;
        
        &_bold {
            font-weight: 700;
        }

        @include breakpoint ('lg') {
            font-size: 46pxpx;
        }

        @include breakpoint ('md') {
            font-size: 32px;
        }

        @include breakpoint ('xxs') {
            font-size: 24pxß;
        }

    }

    //change styles. created common style .text-desc

    &__text {
        margin-bottom: 50px;
        color: var(--grey);
        line-height: 1.8;

        &_bold {
            font-weight: 500;
        }
    }
}