@import '../../mixins.scss';

.footer {
    padding: 180px 0 100px;
    background-color: var(--bg);

    @include breakpoint ('sm') {
        padding-bottom: 60px;
    }

    .container {

        @include breakpoint ('lg') {
            flex-direction: column-reverse;
            gap: 65px;
        }
    }

    .logo-holder {
        &__desc {
            margin-bottom: 30px;
            max-width: 340px;
        }

        &__logo {
            margin-bottom: 20px;
        }

        &__social-icons {
            margin-bottom: 30px;
            display: flex;
            gap: 20px;

            @include breakpoint ('md') {
                text-align: center;
                display: block;
            }
        }

        &__copy {
            color: #AFB5C0;

        }
        
    }

    .nav {
        display: flex;
        gap: 126px;
        line-height: 1.5;


        &__list-item > &__list-item {
            margin-bottom: 10px;
        }

        &__list-item {
            color: var(--grey);

            &_bold {
                font-weight: 500;
                color: var(--black);
            }
        }
    }

    



}