@import '../../mixins.scss';

.features {
    padding: 175px 0  132px;

    @include breakpoint ('md') {
        padding: 150px 0 90px;
    }

    @include breakpoint ('sm') {
        padding: 220px 0 90px;
    }


    &__text-holder {
        // max-width: 430px;
    }

    &__list-item {
        position: relative;
        margin-left: 40px;

        &::before {
            content: '';
            position: relative;
            top: 25px;
            right: 40px;
            display: block;
            background-color: #2FAB73;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 33px;
            left: -33px;
            display: inline-block;
            width: 11px;
            height: 6px;
            background-color: transparent;
            border: 2px solid var(--white);
            border-width: 2.5px 2.5px 0 0;
            transform: rotate(129deg);
            transform-origin: center;
            border-radius: 2px;
        }
    }
}