.features {
    padding: 95px 0  132px;


    &__text-holder {
        max-width: 430px;
    }

    

    &__list-item {
        position: relative;

        &::before {
            content: '';
            position: relative;
            top: 25px;
            right: 40px;
            display: block;
            background-color: #2FAB73;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 25px;
            left: -30px;
            display: inline-block;
            width: 2px;
            height: 20px;
            background-color: var(--white);
        }
    }
}