.info {
    position: relative; 
    max-height: 100vh;
    
    .block {
        padding: 37px 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        width: 100%;
        border-radius: 10px;        
        background-color: var(--white);
        box-shadow: 0 20px 25px -20px rgba(13, 16, 33, 0.35);

        &__desc {
            max-width: 370px;
        }

        &__icon i {
            display: block;
            width: 55px;
            height: 55px;
        }

        &__content {

            &::after {
                content: '';
                display: block;
                color: red;
                width: 100px;
                height: 100px;
            }
        }

        &__content {                
            display: flex;
            justify-content: space-between;
        }

        &__text-holder {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__text-amount {
            font-size: 25px;
            font-weight: 700;
            color: var(--black);
        }

        &__text {
            font-size: 20px;
            color: var(--grey);
        }
    }
}