@import '../../mixins.scss';

.header {
    padding: 50px 0;
    margin-bottom: 100px;

    

    .nav {

        &__list {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @include breakpoint('xl') {
                gap: 20px;
            }
        }

        &__item {
            color: var(--grey);
        }
    }

    &__btn-holder {
        display: flex;
        justify-content: space-between;
    }
}